@charset "UTF-8";

#__next {
	display: flex;
	flex-direction: column;
	height: 100%; 
}

.content {
	display: block;
	width: 1080px;
	margin: 0 auto;	
}

div{
	display: block;
}

.banner {
	margin: 56px 0 46px;
}

.banner img {
	display: block;
	max-height: 300px;
	margin: 0 auto;
}

img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}

.input {
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.searchinfo {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.19);
	display: flex;
	align-items: center;
	position: relative;
	background: white;
	border-radius: 30px;
	height: 60px;
	text-align: left;
}

.seasearchinforch div {
	position: relative;
	height: 40px;
}

.searchinfo div:first-of-type {
	padding-left: 32px;
	margin-right: 8px;
}

.searchinfo div:first-of-type:after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
	width: 1px;
	height: 14px;
	background: gray;
}

.label {
	display: block;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: black;
	margin-bottom: 4px;
	font-style: normal;
}

form {
	margin-top: 0em;
}

.region {
	position: relative;

	display: block;
	width: 170px
}

.region span {
	color: inherit;
	font-size: 14px;
	line-height: 20px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.searchinfo input {
	background: white;
	position: relative;
	width: 480px;
	border: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	color: black;
}

.searchinfo button {
	background-image: url(../img/GG.png);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: 12px center;
	width: 42px;
	font-size: 0;
	box-sizing: content-box;	
	padding-right: 24px;
    padding-left: 12px;
    height: 100%;
}

button {
	border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}